.AppHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  .home-link {
    width: 80px;
  }

  .right {
    .header-link {
      text-decoration: none;
      color: black;
      cursor: pointer;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0.1rem;
        background-color: black;
        top: calc(100% + 0.4rem);
        left: 0;
        transition: 200ms;
      }

      &:hover::after,
      &.active::after {
        width: 100%;
      }

      + .header-link {
        margin-left: 1rem;
      }
    }
  }
}
