.App {
  padding-bottom: 60px;
}

// react-toastify styling
.Toastify {
  &__toast-body {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }

  &__progress-bar--default {
    background: #42c4be;
  }
}
